/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkmagenta;
    color: #fff;
}
.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
    color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
   
@media (max-width: 768px) {
.menu { 
    display:none;
    position: absolute;
    background-color:darkmagenta;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
.menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
}
.menu li + li {
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger {
    display: block;
}
.dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
}
.dropdown li:hover {
    background-color: darkmagenta;
}

}

.cat {
    font-weight: bold;
}

.imgbox {
    display: grid;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    filter: brightness(50%)
}

.hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  thead {
    background-color: #1c87c9;
    color: #ffffff;
  }
  th {
    text-align: center;
    height: 50px;
  }

  tr {
      text-align: center;
  }
  tbody tr:nth-child(odd) {
    background: #ffffff;
  }
  tbody tr:nth-child(even) {
    background: #f4f4f4;
  }

  button, .but {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover, .but:hover{
    opacity: 0.8;
  }
  
 






  